<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <title>Document</title>
</head>
<body>
  <nav class="bg-white border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="flex-shrink-0 flex items-center">
              <img class="h-8 w-8" src="{% static 'myapp/images/logot.png' %}" alt="Logo">
            </div>
            <div class="hidden sm:flex sm:items-center sm:ml-6">
              <div class="flex space-x-8">
                <a href="#" class="text-gray-900 py-2 text-sm font-medium rounded-md hover:bg-gray-100 hover:text-gray-700">Home</a>
                <a href="#" class="text-gray-900 py-2 text-sm font-medium rounded-md hover:bg-gray-100 hover:text-gray-700">About</a>
                <a href="#" class="text-gray-900 py-2 text-sm font-medium rounded-md hover:bg-gray-100 hover:text-gray-700">Contact</a>
              </div>
            </div>
          </div>
          <div class="hidden sm:flex sm:items-center sm:ml-6">
            <div class="flex space-x-8">
              <a href="#" class="text-gray-900 py-2 text-sm font-medium rounded-md hover:bg-gray-100 hover:text-gray-700">Cart</a>
              <a href="#" class="text-gray-900 py-2 text-sm font-medium rounded-md hover:bg-gray-100 hover:text-gray-700">Login</a>
              <a href="#" class="text-gray-900 py-2 text-sm font-medium rounded-md hover:bg-gray-100 hover:text-gray-700">Sign up</a>
            </div>
          </div>
        </div>
      </div>
</nav>


{% block body %}

{% endblock body %}


</body>
</html>